* {
    margin: 0;
    padding: 0;
    transition: all 1s ease;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    align-items: center;
    align-self: center;
    background-image: url(http://ramki-vsem.ru/fony/fon_121.jpg);
    background-attachment: scroll;
    background-size: cover;
}
.title{
    font-size: 250%;
    font-family: 'Arizonia';
    text-align: center;
    align-self: center;
    margin-left: 1%;
    margin-right: 1%;
    height: 8%;
    background-color: rgba(230,191,255,0.5);
    border: 1px solid rgb(255,204,128);
}
.hi{
    font-size: 150%;
    font-family: 'Arizonia';
    text-align: center;
    align-self: center;
    margin-left: 1%;
    margin-right: 1%;
    height: 6%;
    background-color: rgba(230,191,255,0.3);
    border: 1px solid rgb(255,204,128);
    margin-bottom: 1%;
}
.help{
    width: 1%;
    color:red;
    text-align: center;
    display:inline-block;
    background-color: rgba(255,191,255,0.5);
}
.help:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 70%; top: 10%;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: ABeeZee, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
}
.newbuttons{display:inline;}

.buttomsLine {display:inline}
.rect1 {
    cursor: pointer;
    display:inline-block;
    width: 13%;
    height: 3.6%;
    margin-left: 2%;
    text-align: center;
    align-self: center;
    font-family: 'Adamina', serif;
    background-color: rgba(255,191,255,0.5);
    margin-bottom: 0.5%;
    border: 1px solid rgb(255,204,128);
    font-size: 150%;
    margin-right: 1%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .4em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.rect1:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.rect1:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
ul.dropdown-inside {
    list-style-type: none;
}
ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}
a.rect1{
    border: 0px;
    margin: -2% 1px 0 -23.5%
}
div.rect1 {
    display: inline;
    float: left;
    margin: 0 0px 0 1.5%;
    background-color: rgba(255,191,255,0.5);
}
div.rect1:hover .dropdown-inside{
    width: 15%;
    margin-top: 1%;
    padding: 0px 10px 5px;
    display: block;
    left: 0;
}
.dropdown-inside { background-color: rgba(255,191,255,0.5); width: 16%; margin: 0 1px 0 1.5%;}
.dropdown-inside :hover { background-color: rgba(255,191,255,0.5); }

.rect2 {
    cursor: pointer;
    display:inline-block;
    width: 10%;
    height: 6%;
    margin-left: 10%;
    margin-right: 1%;
    text-align: left;
    align-self: center;
    font-family: 'Adamina', serif;
    background-color: rgba(255,191,255,0.5);
    margin-bottom: 0.5%;
    border: 1px solid rgb(255,204,128);
    font-size: 150%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.rect2:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.rect2:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.rect3 {
    cursor: pointer;
    display:inline-block;
    width: 15%;
    height:6%;
    margin-left: 0.5%;
    margin-right: 1.15%;
    text-align: center;
    align-self: center;
    font-family: 'Adamina', serif;
    background-color: rgba(255,191,255,0.5);
    margin-bottom: 0.5%;
    border: 1px solid rgb(255,204,128);
    font-size: 150%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    float: right;
}
.rect3:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.rect3:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}

.lastNews{
    font-family: 'Arizonia', sans-serif;
    background-color: rgba(255,230,191,0.5);
    text-align: center;
    align-self: center;
    border: 1px solid rgba(255,204,128,0.3);
    font-size: 180%;
    width: 14%;
    height: 3.5%;
    margin-left: 43%;
    padding: 0.3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.post {
    width: 30%;
    height: auto;
    overflow: visible;
    display: block;
    padding-bottom: 10vmax;
}
.post * {
    box-sizing: border-box;
}
.titleNews1{
    box-sizing: border-box;
    font-family: 'Marck+Script', cursive;
    background-color: rgba(204,128,255,0.3);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    font-size: 2vh;
    line-height: 2vh;
    width: 90%;
    mix-height: 10vh;
    /*margin-left: 19%;*/
    margin-top: 2%;
    padding: 3% 0%;

}
.textNews1{
    box-sizing: border-box;
    font-family: 'Marck+Script', sans-serif;
    background-color: rgba(255,191,255,0.3);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    align-self: center;
    font-size: 100%;
    line-height: 100%;
    width: 90%;
    min-height: 60%;
    /*margin-left: 19%;*/
    margin-top: 1%;
    padding: 1% 2%
}
.string{
    display: inline;
}
.authorr{
    float: left;
    border: 1px solid rgb(255,204,128);
    text-align: center;
    padding: 2% 0 0 0;
    /*margin-left:7%;
    margin-top: -5%;*/
    width: 90%;
    background-color: rgba(255,230,191,0.5);
    font-size: 80%;
}
.dateCreated{
    float: left;
    border: 1px solid rgb(255,204,128);
    text-align: center;
    padding: 2% 0 0 0;
    width: 90%;
    background-color: rgba(255,230,191,0.5);
    font-size: 80%;
}
.tag2{
    font-size: 80%;
    float: left;
    border: 1px solid rgb(255,204,128);
    text-align: center;
    padding: 1% 0 0 2%;
    width: 90%;
    background-color: rgba(255,230,191,0.5);
    height: 10%;
}
.showFull1 {
    cursor: pointer;
    font-family:'ABeeZee', sans-serif;
    background-color: rgba(255,230,191,0.5);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    align-self: center;
    width: 30%;
    height: 10%;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}
.showFull1:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.showFull1:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}

.deleteNews {
    cursor: pointer;
    font-family:'ABeeZee', sans-serif;
    background-color: rgba(255,230,191,0.5);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    align-self: center;
    width: 29%;
    height: 10%;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}
.deleteNews:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.deleteNews:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}

.change {
    cursor: pointer;
    font-family:'ABeeZee', sans-serif;
    background-color: rgba(255,230,191,0.5);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    align-self: center;
    width: 29%;
    height: 10%;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}
.change:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.change:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}

.nextPage {
    cursor: pointer;
    color: black;
    width: 10%;
    height: 4%;
    text-align:center;
    border: 1px solid rgb(255,204,128);
    position: center;
    margin-left: 43%;
    background-color: rgba(255,191,255,0.5);
    align-self: center;
    margin-bottom: 1%;
    font-family:'ABeeZee', sans-serif;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.nextPage:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.nextPage:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.rectangles {display:inline}

.rectangleeeeeeeeee {
    text-align: center;
    display:inline-block;
    width: 52%;
    height: 5%;
    margin-left: 21%;
    margin-right: 1%;
    align-self: center;
    font-family: 'Adamina', serif;
    background-color: rgba(230,191,255,0.5);
    border: 1px solid rgb(255,204,128);
    font-size: 100%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}

.rectangle3 {
    display:none;
    width: 15%;
    height:6%;
    margin-left: 0.5%;
    margin-right: 1.15%;
    text-align: center;
    align-self: center;
    font-family: 'Adamina', serif;
    background-color: rgba(230,191,255,0.5);
    margin-bottom: 0.5%;
    border: 1px solid rgb(255,204,128);
    font-size: 150%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    float: right;
}
.rectangle3:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.rectangle3:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}


.detail{
    display:inline;
}
.imgbtn{
    margin-left: 23%;
    width:40%;
    display: inline-block;
}
.image img{
    display: inline-block;
    margin-top:2.5%;
    margin-left: 9%;
    align:center;
    width: 90%;
}

.textDetailNews{
    text-align: center;
    margin-left: 9%;
    width:90%;
    height: 54.27%;
    display: inline-block;
    box-sizing: border-box;
    background-color:rgba(230,191,255,0.3);
    color: black;
    font-family: 'ABeeZee', sans-serif;
    font-size: 97%;
    font-weight: 300;
    padding: 10px 40px 10px 40px;
    border: 1px solid rgb(255,204,128);
    box-sizing: border-box;
}
.tag1{
    background-color:rgba(230,191,255,0.3);
    text-align: center;
    color: black;
    font-family: 'ABeeZee', sans-serif;
    font-size: 120%;
    margin-left: 9%;
    width: 89.7%;
    height: 3%;
    border: 1px solid rgb(255,204,128);
}
.dateCreated1{
    background-color:rgba(230,191,255,0.3);
    text-align: center;
    color: black;
    font-family: 'ABeeZee', sans-serif;
    font-size: 120%;
    margin-left: 9%;
    width: 89.7%;
    height: 5%;
    border: 1px solid rgb(255,204,128);
}
.author{
    background-color:rgba(230,191,255,0.3);
    text-align: center;
    color: black;
    font-family: 'ABeeZee', sans-serif;
    font-size: 120%;
    width: 89.7%;
    height: 5%;
    margin-left: 9%;
    border: 1px solid rgb(255,204,128);
}
.change1 {
    font-family:'ABeeZee', sans-serif;
    background-color: rgba(255,230,191,0.5);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    align-self: center;
    width: 29%;
    height: 10%;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    margin-left: 20%;
    margin-bottom: 0.5%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}
.change1:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.change1:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}

.deleteNews1 {
    font-family:'ABeeZee', sans-serif;
    background-color: rgba(255,230,191,0.5);
    border: 1px solid rgb(255,204,128);
    text-align: center;
    align-self: center;
    width: 29%;
    height: 10%;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .3em 1em;
    outline: none;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}
.deleteNews1:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.deleteNews1:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.goBack {
    cursor: pointer;
    color: black;
    width: 14%;
    height: 4%;
    text-align:center;
    border: 1px solid rgb(255,204,128);
    position: center;
    margin-left: 42%;
    background-color: rgba(255,191,255,0.5);
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1.5%;
    font-family:'ABeeZee', sans-serif;
    font-size: 100%;
    display:inline-block;
    margin-right: 0.5%;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: 0.5%;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.goBack:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.goBack:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}


.authorize{
    font-size: 150%;
    font-family: 'Adamina';
    text-align: center;
    margin-left: 40%;
    width: 20%;
    height: 6%;
    background-color: rgba(230,191,255,0.5);
    border: 1px solid rgb(255,204,128);
    margin-bottom: 1%;
    padding-top: 0.5%;
}
.login{
    font-size: 150%;
    font-family: 'Adamina';
    text-align: center;
    margin-left: 40%;
    width: 20%;
    height: 6%;
    background-color: rgba(230,191,255,0.2);
    border: 1px solid rgb(255,204,128);
    margin-bottom: 1%;
    padding-top: 0.5%;
    margin-top: 8%;
}
.password{
    font-size: 150%;
    font-family: 'Adamina';
    text-align: center;
    margin-left: 40%;
    width: 20%;
    height: 6%;
    background-color: rgba(230,191,255,0.2);
    border: 1px solid rgb(255,204,128);
    margin-bottom: 1%;
    padding-top: 0.5%;
}
.signIn {
    color: black;
    width: 14.6%;
    height: 4%;
    text-align:center;
    border: 1px solid rgb(255,204,128);
    position: center;
    margin-left: 42%;
    background-color: rgba(255,191,255,0.5);
    align-self: center;
    margin-top: 15%;
    margin-bottom: 2%;
    font-family:'ABeeZee', sans-serif;
    font-size: 90%;
    display:inline-block;
    margin-right: 0.5%;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: 0.5%;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.signIn:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.signIn:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.goBack1 {
    color: black;
    width: 13.6%;
    height: 4%;
    text-align:center;
    border: 1px solid rgb(255,204,128);
    position: center;
    margin-left: 42%;
    background-color: rgba(255,191,255,0.5);
    align-self: center;
    margin-bottom: 2%;
    font-family:'ABeeZee', sans-serif;
    font-size: 80%;
    display:inline-block;
    margin-right: 0.5%;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: 0.5%;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.goBack1:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.goBack1:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.addNews{
    font-size: 200%;
    font-family: 'Arizonia';
    text-align: center;
    align-self: center;
    margin-left: 35.5%;
    margin-right: 1%;
    margin-bottom: 1%;
    width:25%;
    height: 5%;
    background-color: rgba(230,191,255,0.5);
    border: 1px solid rgb(255,204,128);
}

.text1{
    margin-top: 1%;
    font-family: 'Arizonia';
    margin-left:25%;
    margin-right: 10%;
    color: black;
    width:50%;
    font-size: 30px;
    padding-left: 2%;
}
.title{background-color: rgba(230,191,255,0.2);
    border: 1px solid rgb(255,204,128);}
.text b{padding-left: 5%}
.box{
    resize: none;
    border-radius: 5px;
}

.btn-add{
    cursor: pointer;
    color: black;
    width: 14%;
    height: 4%;
    text-align:center;
    border: 1px solid rgb(255,204,128);
    position: center;
    margin-left: 42.1%;
    background-color: rgba(255,191,255,0.5);
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family:'ABeeZee', sans-serif;
    font-size: 100%;
    display:inline-block;
    margin-right: 0.5%;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: 0.5%;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.btn-add:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.btn-add:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.error{
    position: center;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 21%;
    height: 37vh;
    border-radius: 50%;
    background-color: rgba(255,191,191,0.5);
    font-family: 'Arizonia', sans-serif;
    margin-left: 36.75%;
    margin-bottom: 0.5%;
    padding: 2%;
}
.goBack3{
    width: 12.6%;
    height: 4%;
    text-align:center;
    border: 1px solid rgb(255,204,128);
    position: center;
    margin-left: 43%;
    background-color: rgba(255,191,255,0.5);
    align-self: center;
    margin-bottom: 2%;
    font-family:'ABeeZee', sans-serif;
    font-size: 120%;
    display:inline-block;
    margin-right: 0.5%;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: 0.5%;
    border-radius: 3px;
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}
.goBack3:hover:not(:active) {
    background: linear-gradient(rgb(223, 175, 235), rgb(220, 133, 220)) rgb(203, 94, 206);
}
.goBack3:active {
    top: 1px;
    background: linear-gradient(rgba(118, 235, 185,0.5), rgba(86, 220, 45,0.5)) rgba(146, 206, 44,0.5);
}
.footer {
    box-sizing: border-box;
    color: black;
    width: 5%;
    height:10%;
    text-align:center;
    padding: 1px;
    position: center;
    margin-left: 43%;
    margin-bottom: 1%;
}
.footer p {
    background: rgba(255,191,255,0.5);
    padding: 5px 5px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 12px;
    border: 1px solid rgb(255,204,128);
}

@media screen and (max-width: 1600px) {
    .title {
        font-size: 150%;
        height: 5%;
    }

    .rect1 {
        height: 4.5%;
        font-size: 130%;
        margin-left: -10%;
    }

    .dropdown-inside {
        font-size: 10px;
        padding-right: 0px;
        width: 11%;
    }
    .tag{ width: 16%;}
    .date{width:16%;margin-left:3%}
    .rect2 {
        margin-left: 2% ;
        width: 8%;
        text-align: left ;
        padding-left: 1%;
        font-size: 130%;
    }
    .nameAuthor{
        margin-left:2%;

    }
    .rect3 {
        width: 10%;
        font-size:130%;
    }

    .rect {
        font-size: 50%;
    }

    .lastNews {
        font-size: 140%;
        width: 20%;
        margin-left: 39%;
    }

    .titleNews1 {
        font-size: 100%;
        height: 30%;
    }

    .textNews1 {
        font-size: 100%;
        height: 40%;
    }

    .showFull1 {
        padding: 0;
        width: 29%;
        height: 8%;
        font-size: 10px;
       /* margin-left: 15%;*/
    }
    .change {
        padding: 0;
        width: 29%;
        height: 8%;
        font-size: 10px;
       /* margin-left: 3%;*/
    }
    .deleteNews {
        padding: 0;
        width: 29%;
        height: 8%;
        font-size: 10px;
       /* margin-left: 12%;*/
    }
    .imgbtn{
        align-items: center;
        width: 50%;
    }
    .authorr{
        font-size:11px;
    }
    .dateCreated{
        font-size:11px;
    }
    /*.rectangleeeeeeeeee{
        margin-left: 35%;
        font-size: 80%;
        width: auto;
        height: auto;
    }*/
    .nextPage {
        font-size: 11px;
        margin-left: 37.5%;
        width: 25%;
    }
        .login{
            font-size: 90%;
        }
        .password{
            font-size: 90%;
        }
        .addNews{
            font-size: 120%;
            width:30%;
            height: auto;

        }
    .footer {
        margin-left: 42%;
        width: 15%;
        margin-bottom: 1%;
    }
}
    @media screen and (max-width: 900px) {
        .change1{
            margin-left: 0;
        }
        .error{
            font-size:65% ;
        }
        .textDetailNews{
            font-size: 80%;
        }
        .title {
            font-size: 150%;
            height: 5%;
        }
        .text1{
            margin-left: 0%;
        }
        .name{
            font-size: 80%;
        }
        .tag{
            font-size: 80%;
        }
        .image{
            font-size: 70%;
        }
        .shd{
            font-size: 60%;
        }
        .news{
            font-size: 80%;
        }
        .addNews{
            font-size: 90%;
            width:40%;
        }
        .signIn{
            font-size: 70%;
            width: 20%;
        }
        .goBack1{
            font-size: 60%;
            width:20%;
        }
        .rect1 {
            width: 2%;
            height: 4.5%;
            font-size: 100%;
            margin-left: -10%;
        }
        .login{
            margin-left: 25%;
            font-size: 60%;
            width: 50%;
            font-size: 80%;
        }
        .password{
            margin-left: 25%;
            font-size: 60%;
            width: 50%;
            font-size: 70%;
        }
        .rect4 {
            width: 2%;
        }

        .nameAuthor {
            width: 14%;
            margin-left: 2%;
            font-size: 8px;
        }

        .date {
            font-size: 8px;
        }

        .dropdown-inside {
            font-size: 10px;
            padding-right: 0px;
            width: 11%;
        }

        .tag {
            margin-left: 1%;
            width: 14%;
        }

        .date {
            width: 14%;
            margin-left: 1%
        }

        .rect2 {
            margin-left: 2%;
            width: 8%;
            text-align: left;
            padding-left: 1%;
        }

        .rect3 {
            width: 10%;
        }

        .rect {
            font-size: 40%;
        }

        .lastNews {
            font-size: 80%;
            width: 20%;
            margin-left: 40%;
        }

        .titleNews1 {
            margin-top: 5%;
            font-size: 40%;
            height: 30%;
        }

        .textNews1 {
            font-size: 33%;
            height: 80%;
        }

        .deleteNews {
            width: 100%;
            height: 6%;
            padding: 0;
            font-size: 7px;
        }

        .change {
            width: 100%;
            height: 6%;
            padding: 0;
            font-size: 7px;
        }

        .showFull1 {
            width: 100%;
            height: 6%;
            padding: 0;
            font-size: 7px;
        }

        .bottom {
            margin-top: 20%;
        }

        .nextPage {
            margin-top: 20%;
            font-size: 9px;
            margin-left: 37.5%;
            width: 25%;
        }

        .post {
            margin-bottom: 25%;
        }

        .footer {

            margin-left: 25%;
            width: 50%;
            margin-bottom: 1%;
        }

        .footer p {
            font-size: 50%;
        }
        .authorize{
            margin-left: 25%;
            font-size: 50%;
            width: 50%;
        }
    }

.bottom {
    bottom: 0;
    width: 57%;
    margin-left: 21%;
    margin-bottom: 2%;
}